.out{
    width: 90%;
    height: auto;
    background: #F8FFAE;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}